{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scopus Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_main_form.css' %}">
</head>

<body>
    <header>
        <img src="{% static 'images/manipal_logo.png' %}" alt="Manipal Logo" class="logo">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="logoutbutton" type="submit">Logout</button>
        </form>
    </header>
    <div class="container">
        <h1>Scopus Details</h1>
        <form method="post" action="{% url 'submit_paper' %}" class="author-details">
            {% csrf_token %}
            <p>Author IDs:</p>
            <input type="text" class="textbox" name="author_ids" value="{{ author_ids }}">
            <p>DOI</p>
            <input type="text" class="textbox" name="doi_id" value="{{ doi_id }}" required>
            <p>Author Names:</p>
            <input type="text" class="textbox" name="author_names" value="{{ author_names }}">
            <p>Publisher ID:</p>
            <input type="text" class="textbox" name="publisher_id" value="{{ publisher_id }}">
            <p>Publisher Name:</p>
            <input type="text" class="textbox" name="publisher_name" value="{{ publisher_name }}">
            <p>Paper ID:</p>
            <input type="text" class="textbox" name="paper_id" value="{{ paper_id }}">
            <p>Title of Paper:</p>
            <input type="text" class="textbox" name="title_of_paper" value="{{ title_of_paper }}">
            <p>Name of Journal:</p>
            <input type="text" class="textbox" name="name_of_journal" value="{{ name_of_journal }}">
            <p>Scopus Indexed:</p>
            <input type="text" class="textbox" name="scopus_indexed" value="{{ scopus_indexed }}" required>
            <p>WOS Indexed:</p>
            <input type="text" class="textbox" name="wos_indexed" value="{{ wos_indexed }}">
            <p>Scopus Quartile:</p>
            <input type="text" class="textbox" name="scopus_quartile" value="{{ scopus_quartile }}">
            <p>WOS Impact Factors:</p>
            <input type="text" class="textbox" name="wos_impact_factors" value="{{ wos_impact_factors }}">
            <p>Volume Number:</p>
            <input type="text" class="textbox" name="volume_number" value="{{ volume_number }}">
            <p>Issue Number:</p>
            <input type="text" class="textbox" name="issue_number" value="{{ issue_number }}">
            <p>Page Number:</p>
            <input type="text" class="textbox" name="page_number" value="{{ page_number }}">
            <p>Date of Publication:</p>
            <input type="text" class="textbox" name="date_of_publication" value="{{ date_of_publication }}">
            <p>Citation Count:</p>
            <input type="text" class="textbox" name="citation_count" value="{{ citation_count }}">  
            <button class="submitbutton" type="submit">Approve</button>  
        </form>
    </div>
</body>

</html>